/*-- scss:defaults --*/
// Set font variables for Reveal.js
$font-family-sans-serif: Georgia, serif !default;
$font-family-serif: Georgia, serif !default;
$font-family-monospace: Georgia, serif !default;
$presentation-font-size-root: 28px;

/*-- scss:rules --*/
// Optional: force the font on body and gt tables
//.reveal {
//  font-family: Georgia, serif;
//}

//.gt_table {
//  font-family: Georgia, serif;
//}
